<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">
<select id = "getBoardList" resultType = "com.board.domain.BoardDTO">
	select idx,menu_id,title,writer,TO_CHAR(regdate,'YYYY-MM-DD')regdate,hit
	from board
	where menu_id =#{menu_id}
	order by idx desc
</select>
<insert id = "insertBoard" >
	insert into board(idx,menu_id,title,content,writer,regdate,hit)
	values(
	
	(select nvl(max(idx),0)+1 from board),
	
	#{menu_id},#{title},#{content},#{writer},sysdate,0
	)
</insert>

<update id= "incHit">
	update board
	set hit = hit + 1
	where idx = #{idx}
</update>

<select id ="getBoard" resultType ="com.board.domain.BoardDTO">
	select idx ,menu_id,title,writer,TO_CHAR(regdate ,'YYYY-MM-DD HH24:MI:SS DAY')regdate , hit ,content
	from board
	where idx =#{idx}
</select>

<delete id = "delete">
	delete from board
	where idx = #{idx}
</delete>

<update id = "boardUpdate">
	update board
	set title = #{title}, content = #{content}
	where idx = #{idx}
</update>
</mapper>