<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.tuser.mapper.TuserMapper">
 <select id = "getTuserList" resultType="com.board.tuser.domain.TuserDTO">
 	SELECT userid ,passwd , username, email , upoint , to_char(indate,'YYYY-MM-DD DY') as indate
 	FROM  tuser
 	order by userid asc
 </select>
<insert id ="insertUser"> 
	insert into tuser
	(userid,passwd,username,email,upoint,indate)
	VALUES(#{userid},#{passwd},#{username},#{email},1000,sysdate)
</insert>

<delete id = "userdelete">
	delete from tuser
	where userid = (#{userid})
</delete>


<select id = "getUser" resultType = "com.board.tuser.domain.TuserDTO">
	SELECT userid,passwd,username,email,upoint,indate
	FROM tuser
	Where userid = #{userid} 
</select>


<update id = "userUpdate">
	UPDATE tuser
	set   passwd = #{passwd},
		  username = #{username},
		  email = #{email},
		  upoint = #{upoint}
	where userid = #{userid}
</update>
</mapper>